[2019-04-25 11:22] #196 closed

[2019-04-25 11:29] codeskul commented on #164
![IMG_20190425_152651](https://user-images.githubusercontent.com/41965052/56732557-6c78b880-677b-11e9-85d4-e05d0e0c12a7.jpg)
![IMG_20190425_152706](https://user-images.githubusercontent.com/41965052/56732558-6d114f00-677b-11e9-9f9c-b630c632b5a2.jpg)

[2019-04-25 11:29] codeskul commented on #164
It done successfully

[2019-04-25 11:37] arunph commented on #164
Okay what was the error

On Thu, Apr 25, 2019, 4:59 PM Sanjay Patel <notifications@github.com wrote:

[2019-04-25 11:45] arunph commented on #164
you can refer the code skull posted images for final working circuit diagram

[2019-04-25 14:02] nandhukrishnan commented on #164
**But I didn't understand which pins to solder on this board? This board is exactly same as mine
. Plz help me** @arunph @codeskul @SaiSurya9999

[2019-04-25 16:23] zhushengtong commented on #199
谢谢你的回答~
  可能是我的知识储备不太够，所以请您见谅，我是一个本科生。我想了一阵子，也不太知道您的数据集是怎么采集出来的。并且我看了几个之前的issue。
  如果我想完成前进这个操作，我是否应该不止采集车头完全朝向前方的图片，因为在运行过程中，可能出现跑偏，这时候需要进行校正，所以这时候我是否还需要多采集车头跑偏的照片，然后进行训练。并且在弯道中肯定也会涉及到需要直走的情况。
  并且我想知道，为什么大佬没有用传统的特征点提取，并直线拟合的方法呢？
  这个问题困惑了我一阵子了。看到您的这个项目是三个月前，之前对神经网络还不了解，但是现在即使很了解了之后，在真正的实操过程中还是不知道该怎么去完成，期望能得到您宝贵的帮助，谢谢~
我十分希望能得到您当初训练时用到的数据集，这样我才能知道您是怎么采集图像的。
  如果您能帮助我，我不胜感激~~
  如果您愿意共享一下您的数据集的话，这是

[2019-04-25 16:48] Devanshice020 opened #200 "how training accuracy and validation accuracy is calculated?"
# evaluate on train data
train_accuracy = nn.evaluate(X_train, y_train)
print("Train accuracy: ", "{0:.2f}%".format(train_accuracy * 100))

# evaluate on validation data
validation_accuracy = nn.evaluate(X_valid, y_valid)
print("Validation accuracy: ", "{0:.2f}%".format(validation_accuracy * 100))

how this works??
plz reply ASAP..

[2019-04-25 19:01] hamuchiwa commented on #199
@zhushengtong
1. 你说的都对的，其实收集数据的话来回多跑几遍就好，边边角角的情况也就基本上涵盖进去了。还是不行的话，再收集一些特殊情况的数据。
2. 谈不上什么大佬，大家都是边学习边实践嘛。当时做这个项目就是为了用一下神经网络，相当于走了个捷径，PID控制也省掉了，神经网络直接出结果。但如果真实际应用起来，我觉得还是车道检测来的实在。Nvidia之前有篇[文章](https://images.nvidia.com/content/tegra/automotive/images/2016/solutions/pdf/end-to-end-dl-using-px.pdf)，是用图像来预测方向盘转弯角度，有兴趣的话你可以看一下。
3. 图片的话，你可以看一下`test/model_train_test/`里的那个jupyter notebook，实际的收集和训练只取的下半部分。

[2019-04-25 19:52] hamuchiwa commented on #200
@Devanshice020 They are calculated in the same way, accuracy = true/(true + false). Check `evaluate` function for detail.

[2019-04-25 19:52] #200 closed

[2019-04-26 09:11] Shafaeit opened #202 "onnection.write(stream.read()) File "/usr/lib/python3.5/socket.py", line 594, in write return self._sock.send(b)BrokenPipeError: [Errno 32] Broken pipe"
https://stackoverflow.com/questions/55818107/multiple-client-in-socket-not-working-in-raspberry-pi-video-streaming

[2019-04-26 11:52] nandhukrishnan commented on #164
Can you provide a pic of your connection?

[2019-04-26 14:54] zhushengtong commented on #199
谢谢你每一次认真的回答我的疑惑~我觉得第二个项目很棒，正在钻研~

[2019-04-27 06:02] tc2n opened #203 "rc_driver_nn_only.py runs fine but problem with rc_driver.py"
My `rc_driver_nn_only.py` file runs fine, but when I try to run `rc_driver.py` and run `stream_server.py` on the client I get broken pipe error on the client side and server command just terminates without giving any error. This error is generated only when I start `stream_server.py` on the client side.

[2019-04-27 06:05] enigma0503 commented on #203
I am also getting the same error(broken pipe error when I run the `stream_server.py`)

[2019-04-27 16:31] codeskul commented on #190
@SaiSurya9999  i increased sleep time in ultrasonic_client.py file but it show me broken pipe error after few seconds

[2019-04-28 10:33] codeskul commented on #203
I face same issue

[2019-04-28 10:35] codeskul commented on #203
Only ultrasonic_client.py runs when I start stream_client.py it show me error

[2019-04-28 10:37] codeskul commented on #203
![15564477916015266531347955756738](https://user-images.githubusercontent.com/41965052/56863075-9e825880-69cf-11e9-8f83-ced3d3e04afb.jpg)

[2019-04-28 10:41] codeskul commented on #203
![15564480655361787959251118283671](https://user-images.githubusercontent.com/41965052/56863124-4435c780-69d0-11e9-8ccc-f1961d703d10.jpg)

[2019-04-28 12:00] hamuchiwa commented on #203
@tc2n @codeskul See if this is what you encountered on the server side: #176, #185

[2019-04-28 12:19] hamuchiwa commented on #202
@Shafaeit It seems a python socket error. Just try to isolate the error, have you tested the connection using `stream_server_test.py`? If it still doesn't, create the conda environment as mentioned in readme, then try again.

[2019-04-28 14:18] codeskul commented on #203
@hamuchiwa no sir it not work

[2019-04-28 14:45] nandhukrishnan commented on #164
![20190428_140149](https://user-images.githubusercontent.com/20750718/56865993-ff228d00-69f1-11e9-8728-cc08976370f0.jpg)
**Yeahhh..!!! I got it.**

[2019-04-28 15:18] hamuchiwa commented on #203
@codeskul What's the error on the server side?

[2019-04-28 15:35] codeskul commented on #203
When I start server side code rc_driver.py it don't show any error, in raspberry pi i start ultrasonic_client.py it sends sensor data well, as I start stream_client.py on raspberry pi it stop and show broken pip error on raspberry pi as shown above and at server side it shows system exit as shown above

[2019-04-28 15:50] codeskul commented on #203
It stop server side execution when i start raspberry side stream_client.py

![error](https://user-images.githubusercontent.com/41965052/56866799-5ed16600-69fb-11e9-965c-1cd2a0a8b4c0.png)

[2019-04-28 15:59] hamuchiwa commented on #203
@codeskul Have you tried running stream_client first or on linux? This project was only tested on Linux and Mac, it could the way of handling threads is different on windows.

[2019-04-28 16:11] codeskul commented on #203
@hamuchiwa  ok i will try it on Linux and reply to you

[2019-04-28 16:27] arunph commented on #164
Well done.

On Sun, Apr 28, 2019, 8:15 PM Nandhu Krishnan <notifications@github.com
wrote:

[2019-04-29 13:27] arunph commented on #164
Is the car running using your keyboard.and how did you made it.can u send the circuit connection pic of it

[2019-04-29 13:31] arunph commented on #164
hey its urgent can you help me out.when i connect wire to the aurdino GND car start moving automatically without pressing of arrow keys in the keyboard.

[2019-04-29 19:09] tc2n commented on #203
@hamuchiwa I face the same problem on Linux.

[2019-04-29 19:15] tc2n commented on #203
I tried to remove the 'stop sign' detection part from the `rc_driver.py` file, then I was able to run `stream_server.py` file too, but still when I try to run `ultrasonic_stream` file I got Broken Pipe error with no error on Server Side (I am unable to run both `stream_server.py` and `ultrasonic_stream.py` simultaneously).

[2019-04-30 18:25] nandhukrishnan commented on #164
@arunph I also had the same problem. But it was due to the arduino program. You just run the code above by @VishalWrench . Mine is working fine now 😊

[2019-04-30 18:33] nandhukrishnan commented on #164
![20190430_230851](https://user-images.githubusercontent.com/20750718/56984585-fd003000-6ba3-11e9-80d8-8e9326126470.jpg)
![20190430_230859](https://user-images.githubusercontent.com/20750718/56984735-57998c00-6ba4-11e9-8e21-7c011683039f.jpg)

[2019-05-01 00:18] arunph commented on #164
Thank you very much.but is it working

On Wed, May 1, 2019, 12:03 AM Nandhu Krishnan <notifications@github.com
wrote:

[2019-05-02 06:00] arunph commented on #164
Thank you

[2019-05-02 21:01] hamuchiwa commented on #203
@tc2n @codeskul My mistake, forgot to put `self` before variables in last update. `rc_driver.py` has been updated and should be working now.

[2019-05-02 21:01] #203 closed

[2019-05-02 21:03] hamuchiwa commented on #202
@Shafaeit `rc_driver.py` has been updated.

[2019-05-02 21:03] #202 closed

[2019-05-03 17:05] introvertguy opened #204 "SerialException: could not open port '/dev/tty.usbmodem1421': FileNotFoundError(2, 'The system cannot find the path specified.', None, 3)"
I'm trying this project on Windows 10 and I've trained my model with 68% and above accuracy but I CAN'T DEPLOY the rc_driver.py because of the Serial exception error. I've my project demonstration tomorrow and I'm freaking out over this issue.. Please help out @hamuchiwa

[2019-05-03 18:55] hamuchiwa commented on #204
@introvertguy Change the serial port to match your Windows one, line 42.

[2019-05-03 18:55] #204 closed

[2019-05-03 19:10] introvertguy opened #205 "rc_driver executes with no error but laptop doesn't send any signal to Arduino"
Stream test on Raspberry pi and rc_driver on computer executes without any error and the Camera module turns on as well. But I don't get any output onto the Arduino UNO. @hamuchiwa

[2019-05-04 06:30] arunph commented on #164
First it was working fine.but now again it is getting the same thing like
car start moving automatically without pressing of keyboad keys

On Wed, May 1, 2019, 5:48 AM Arun P.H <pharun0059@gmail.com wrote:

[2019-05-06 13:51] arunph commented on #164
hey kindly help me with.excution steps of program.how to train and test.

<https://www.avast.com/en-in/recommend?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=default3&tag=56ab1e3c-1ede-4e42-b16f-4564b64aa948>
I’m
protected online with Avast Free Antivirus. Get it here — it’s free forever.
<https://www.avast.com/en-in/recommend?utm_medium=email&utm_source=lin

[2019-05-06 15:10] akilystic opened #206 "Urgent: Port issue"

[2019-05-06 15:12] akilystic commented on #206
I get the following error when i run rc_control_test.py

(auto-rccar) akash@asp:~/Downloads/AutoRCCar-master/test$ python rc_control_test.py
pygame 1.9.4
Hello from the pygame community. https://www.pygame.org/contribute.html
Traceback (most recent call last):
  File "/home/akash/miniconda3/envs/auto-rccar/lib/python3.7/site-packages/serial/serialposix.py", line 265, in open
    self.fd = os.open(

[2019-05-06 15:15] kiran1115 commented on #206
are you using windows ?

On Mon, May 6, 2019, 8:40 PM akilystic <notifications@github.com> wrote:

[2019-05-06 15:18] akilystic commented on #206
No.. I'm using Linux Ubuntu

[2019-05-06 15:19] akilystic commented on #206
I was having similar port permission issue while burning Arduino code but somehow managed to fix it.
Please help me to fix this issue now. Pygame opens and closes abruptly.
Port Permission denied it says

[2019-05-06 15:52] nandhukrishnan commented on #206
![20190506_211554](https://user-images.githubusercontent.com/20750718/57237461-e1ce6e00-7044-11e9-99bf-600f2e36d99e.jpg)

You first check what is currently selected for the port in Arduino IDE. Then give the same instead  of _/dev/ttyACM0_  in rc_control_test.py. Doing this just solved my problem.

[2019-05-06 16:48] akilystic commented on #206
Now serial port isn't visible in Arduino ide. It shows the same Port in the bottom left corner though. Thanks.. I'll try to fix this and let you know

[2019-05-07 03:44] BreakerMark opened #207 "关于收集训练数据"
您好，我发现收集训练数据这个文件里的一些问题，但是不知道如何解决，还希望您能够提供帮助。
训练的时候，同时按下前进和方向，这时如果只松开方向键继续按着前进键，小车就会停止并不会继续往前，我觉得应该是判断条件的那个一旦KEYUP就停车导致的，但不知道如何解决，您能提供一些帮助吗？谢谢。

[2019-05-07 14:53] BreakerMark commented on #123
Yes. You can use a new port to send the control code back to the Raspberry Pi so that you can use the Raspberry Pi to control the Arduino.

[2019-05-07 15:09] arunph commented on #164
hey anyone finished this project.plz help me out with steps

[2019-05-07 15:57] hamuchiwa commented on #207
@BreakerMark 收集数据的时候要点按，每点一下键盘收集一张图片，一直按着的话只收集一张。收集左右方向的时候可以这个样子：按住方向键不放，然后点按前进键，这样比一次按两个键要准确一点儿。

[2019-05-08 02:55] BreakerMark commented on #207
哦，多谢多谢，怪不得我发现弄了好久结果没收集到几帧。

[2019-05-08 02:55] #207 closed

[2019-05-09 19:41] ShwetaLalwani commented on #77
Is your project completed? @Gooose1909

[2019-05-09 19:49] ShwetaLalwani commented on #203
@tc2n Hi, is your car moving in the correct directions after running rc_driver_nn_only.py?

[2019-05-09 19:58] ShwetaLalwani commented on #166
@sundar19 Can you plz share your trained . XML file ? It's really urgent.

[2019-05-10 06:09] arunph opened #208 "Collect_training_data.py excution problem"
OSError: [WinError 10048] Only one usage of each socket address (protocol/network address/port) is normally permitte.
This above error will come when I start to run stream_client on raspberry pi

[2019-05-10 06:58] arunph commented on #158
Kindly help me with excution steps for training the model.

[2019-05-10 07:03] arunph commented on #91
PlZ @marcusvn help me with your connection pics of ultrasonic sensor with respberry pi

[2019-05-10 07:13] arunph commented on #75
OSError: [WinError 10048] Only one usage of each socket address (protocol/network address/port) is normally permitte.
I m having above error when I run collect_training_data.py

[2019-05-10 07:36] sundar19 commented on #166
@ShwetaLalwani  my xml is of no use to you. My neural network data doesn't work fine. So I used only forward key to train my neural network and used haar Cascades of left and right  to turn my car. So it is better that you use tensorflow with CNN and more hidden layers and train your xml.

[2019-05-10 11:26] tc2n commented on #203
@ShwetaLalwani When I run model_training on .npz file, sometimes it works fine. But sometimes when I again train the model on the same .npz file my car always moves in the same direction(Always right or Always forward).

[2019-05-10 19:32] hamuchiwa commented on #208
See #181

[2019-05-10 19:32] #208 closed

[2019-05-13 14:51] mmtaksuu opened #209 "Haar Cascade Classifier"
Hi,
I wonder how many photos did you use for your classifier?
What did you choose for sample width and height?
Did you use any other features for your classifier?
Thanks for your help...

[2019-05-13 20:52] hamuchiwa commented on #209
@mmtaksuu Don't quite remember, but definitely below 100, perhaps 40 to 60 images. Dimension is small, 25x25 for stop sign, 25x45 for traffic light. I followed this [tutorial](https://coding-robin.de/2013/07/22/train-your-own-opencv-haar-classifier.html).

[2019-05-13 20:52] #209 closed

[2019-05-14 10:44] Razor456 commented on #173
hello
we need help guys @hamuchiwa
Our rc car is just turning around after doing the training ! we got 59% accuracy after the training !

One more porblem we've had is our rc car speed. how did you slow down your rc car's speed ?

Best regards

[2019-05-18 04:50] FoodFF commented on #120
ESP8266通过透传TCP连接到电脑 软串口

[2019-05-18 06:08] Prologueyan commented on #176
how did u solved this problem？

[2019-05-18 15:43] #195 closed

[2019-05-18 15:43] #190 closed

[2019-05-18 15:44] #185 closed

[2019-05-18 15:46] #142 closed

[2019-05-20 19:35] hamuchiwa commented on #205
@introvertguy Can you elaborate a bit more? No output in the console, or light is not blinking or something else?

[2019-05-23 05:27] nikhilabhi opened #210 "*Urgent* Issue with port"
File "C:\Users\Admin\PycharmProjects\qtpi_rc car\venv\lib\site-packages\serial\serialwin32.py", line 62, in open
    raise SerialException("could not open port {!r}: {!r}".format(self.portstr, ctypes.WinError()))
serial.serialutil.SerialException: could not open port 'COM34': FileNotFoundError(2, 'The system cannot find the file specified.', None, 2)

I am getting this issue when i run python coll

[2019-05-23 07:53] BreakerMark opened #211 "关于模型的训练"
您好，我在模型训练时遇到了一些问题。我收集了前进、左转、右转分别1000帧左右，然后分别训练之后可以得到正确的结果，但是将所有的数据放在一起训练得到的模型，系统提示的准确率在90%以上，但是在实际测试时无法得到正确的反馈。请问这个问题应该怎么解决，谢谢。

[2019-05-23 18:44] hamuchiwa commented on #211
@BreakerMark 一起训练就好，单独训练不成了三个模型了，训练完了主要看一下Validation accuracy是多少。`model_training.py`只把数据分成了train和valid，其实你也可以更进一步，用sklearn搞一下[grid search](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html)调调参，看看能不能选出一个比较好的模型。再不行就试一下CNN。

[2019-05-23 18:47] hamuchiwa commented on #210
@nikhilabhi It says the could not open port, can you verify the COM port you are using on windows?

[2019-05-24 00:24] BreakerMark commented on #211
谢谢回复

[2019-05-24 05:50] BreakerMark commented on #211
想问一下，我刚刚开始学习这些，这个项目如何能够加入CNN呢。怎么才能把这个项目变成Tensorflow或者其他工具？

[2019-05-24 10:43] revox0x opened #212 "测距程序相机参数中的角度该如何测量？"
就是这行代码中的参数`self.alpha = 8.0 * math.pi / 180    # degree measured manually`

[2019-05-24 15:43] hamuchiwa commented on #212
@revox0x 拿量角器测的，光轴和水平线的夹角。我找的那篇文献好像链接失效了，不过你可以搜一下“车辆单目测距”，搞不好还有新方法来着。

[2019-05-24 17:07] revox0x commented on #212
感谢您的回复，但是我还是不太明白具体该如何去测量，能麻烦您详细说明一下吗。

[2019-05-24 17:19] hamuchiwa commented on #211
@BreakerMark 模型训练其实是独立出来的，可以单独创建一个文件使用tensorflow，最后跑车的时候只是加载模型，然后做预测就好。我之前有上传一个使用keras的例子，有兴趣你可以看一下 https://github.com/hamuchiwa/AutoRCCar/issues/173#issuecomment-478619182

[2019-05-24 17:34] hamuchiwa commented on #212
@revox0x 找着两篇文章，几何模型是类似的
[基于单目视觉的前方车辆检测与测距](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=2ahUKEwj83ZDs1rTiAhVEhOAKHY5_CHgQFjABegQIBRAC&url=http%3A%2F%2Fwww.ecice06.com%2FEN%2Farticle%2FdownloadArticleFile.do%3FattachType%3DPDF%26id%3D27545&usg=AOvVaw3XjNH-E7uD_HxcjQGnEVKw)
[基于单目视觉的前方车辆探测方法](http://read.pudn.com/downloads122/doc/project/519187/桌面/基于单目视觉的前方车辆探测方

[2019-05-24 17:47] Rjandeep opened #213 "Complete Self Driving Course"
Great course to Build your own self driving car prototype  https://www.youtube.com/watch?v=bixaJBG5RKg

[2019-05-24 18:25] hamuchiwa commented on #213
@Rjandeep No ads please.

[2019-05-24 18:25] #213 closed

[2019-05-25 04:41] revox0x commented on #212
感谢！对我帮助很大。

[2019-05-25 04:42] #212 closed

[2019-05-25 06:45] BreakerMark commented on #211
谢谢回复，那如果用keras生成的模型文件，是否需要用keras做预测，还是说也可以导入opencv中直接使用呢？

[2019-05-25 10:02] revox0x opened #214 "关于红绿灯状态判断的问题"
在下面的程序中
![屏幕快照 2019-05-25 下午5 56 53](https://user-images.githubusercontent.com/48538908/58367833-83473200-7f16-11e9-84ef-5a84f5afa8ff.png)
我理解的是`if 1.0 / 8 * (height - 30) < maxLoc[1] < 4.0 / 8 * (height - 30):`和
` elif 5.5 / 8 * (height - 30) < maxLoc[1] < height - 30:`是通过maxLoc[1]表示的最亮点的垂直方向的位置来判断红灯还是绿灯亮起，但是我不理解判断的条件是如何产生的，也就是说它为什么可以写成这样？

[2019-05-25 17:55] hamuchiwa commented on #211
@BreakerMark 对的，要用keras做预测，把和opencv相对应的部分替换一下就可以了。

[2019-05-25 18:13] hamuchiwa commented on #214
@revox0x 简单说是人为加上去的。那个红绿灯是淘宝上买的，红灯在上绿灯在下，所以亮点在大致上半部分就是红灯，下半部分那就是绿灯了。
等于是走了个捷径，当然你也可以用颜色来判断，读取进来的图像要是彩色的，然后再定义红颜色和绿颜色的区间。

[2019-05-26 03:30] revox0x commented on #214
感谢您的回复，我明白了。

[2019-05-26 03:30] #214 closed

[2019-05-26 19:15] revox0x opened #215 "如何高效处理用于训练haar分类器的阳极样本图片？"
我想训练一个分类器，但在处理阳极样本的图片上遇到了困难，通过手机采集图像之后，我不知道该如何精确地将目标样本按照25x45的像素比例裁剪出来，请问有高效的方法可以解决这个问题吗？

[2019-05-27 02:45] hamuchiwa commented on #215
裁剪的时候固定好长宽比，分辨率先不用管，全部裁剪完之后，可以用photoshop批处理或者写几行代码改成统一的分辨率

在 2019年5月26日，15:15，revox0x <notifications@github.com<mailto:notifications@github.com>> 写道：

我想训练一个分类器，但在处理阳极样本的图片上遇到了困难，通过手机采集图像之后，我不知道该如何精确地将目标样本按照25x45的像素比例裁剪出来，请问有高效的方法可以解决这个问题吗？

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/hamuchiwa/AutoRCCar/is

[2019-05-27 02:48] revox0x commented on #215
感谢您的回复，我知道该怎么做了。

[2019-05-27 02:48] #215 closed

[2019-05-29 03:23] sundar19 commented on #184
@ShwetaLalwani rc_driver_nn_only.py  should be run on your computer and not RPi

[2019-05-29 13:25] #206 closed

[2019-05-29 13:25] #210 closed

[2019-05-29 13:25] #205 closed

[2019-05-31 11:21] revox0x opened #216 "感谢作者，毕设参考了您的程序，顺利答辩完成。"
今天完成了毕设答辩，参考了很多您的程序，感谢您之前对我问题的解决答，谢谢！

[2019-05-31 13:29] hamuchiwa commented on #216
@revox0x 恭喜毕业啊，以后大家一起努力加油啦~~！

[2019-06-01 08:07] revox0x commented on #216
谢谢！

[2019-06-01 08:07] #216 closed

[2019-06-01 19:59] 145shahzad commented on #164
![Capture](https://user-images.githubusercontent.com/49883080/58752981-748deb80-84d1-11e9-95f2-985609d088f8.PNG)
i'm having this error when i run rc_control_test....i have also coneccted arduino with pc and car's remote.....can anyone help??

[2019-06-02 09:41] arunph commented on #164
Kindly change 'dev/tty.usbmodem' with ur arduino port name like com5,etc.just once go through ur arduino IDE .Then go to tools,there u will see port option.just check on that option.which port ur ardunio is using like com3,com4,etc.then that same port name should be mentioned in that line by removing this dev/try.usbmodem1421.

[2019-06-02 20:02] 145shahzad commented on #164
thanks, program unned with zero error.....but i have remote control car in
which push buttons are used......i have conneted wires from breadboard to
arduino.....when i press keys the car is not moving
controller light blinks but car shows no response

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www

[2019-06-03 03:56] arunph commented on #164
Can u send  snapshot of ur  connection from breadboard to arduino

[2019-06-04 03:22] Marouanetah commented on #21
Hello Guys!
Im null with Electronics, but good with machine and deep learning coding xD,
may someone help me with the setup for the arduino and rasbperry circuits ?
thanks a lot guys!

[2019-06-04 21:28] harshithdayananda opened #217 "issue when i run rc_control_test."
(auto-rccar) C:\Users\Administrator\Desktop\AutoRCCar-master\test>python rc_control_test.py
pygame 1.9.6
Hello from the pygame community. https://www.pygame.org/contribute.html
Traceback (most recent call last):

  File "rc_control_test.py", line 72, in <module>
    RCTest()

  File "rc_control_test.py", line 13, in __init__
    self.ser = serial.Serial("/dev/tty.usbmodem1421", 115200, timeout=1)

[2019-06-04 21:29] harshithdayananda commented on #217
@hamuchiwa please help my demonstration is due on 13th June.

[2019-06-04 23:41] hamuchiwa commented on #217
@harshithdayananda The port you see is for Mac, change the serial port to match your Windows one, perhaps 'COM3' in your case.

[2019-06-04 23:41] #217 closed

[2019-06-05 04:23] harshithdayananda commented on #217
on which line number is the port for windows? i can only see mac and linux.

[2019-06-05 13:43] hamuchiwa commented on #217
@harshithdayananda Just replace '/dev/tty.usbmodem1421' with your port 'COM3'. It's normal to have a pygame window open, it's for listening keyboard inputs, you will see some outputs in your console if you run the file in command line.

[2019-06-05 16:33] harshithdayananda commented on #217
@hamuchiwa on which line number is the port for windows? I can only see mac and Linux. also when I change the port for Mac and run the script I get a pi game window with a black screen.
![1](https://user-images.githubusercontent.com/47856141/58973485-b4104c80-87dd-11e9-9d86-52897c3987b2.jpg)

like this.

[2019-06-06 10:31] harshithdayananda commented on #164
@nandhukrishnan i need your help. can you mail me at harshith.daya@gmail.com?

[2019-06-06 19:58] 145shahzad commented on #164
I have a issue......mine is the same controller as @SaiSurya9999 .....but when i solder all the wires it only moves in Forward left , forward right, reverse left and reverse right.......it shows no actions on forward, reverse, left and right.......i have used 4N35 and arduino mega

[2019-06-07 21:38] 145shahzad commented on #164
Hi.....can you please tell me how you connect ultrasonic sensor to arduino
or Raspberry pi?
Please tell me about connection of ultrasonic sensor..

On Sun, 2 Jun 2019, 2:41 pm arunph, <notifications@github.com> wrote:

[2019-06-08 17:32] arunph commented on #164
i think its better to use arduino UNO.then it will work fine

[2019-06-09 18:06] 145shahzad commented on #164
Arduino mega is not best for this?

On Sat, 8 Jun 2019, 10:32 pm Arun P H, <notifications@github.com> wrote:

[2019-06-10 02:55] arunph commented on #164
Yaa.but once check ur arduino code and connection

On Sun, Jun 9, 2019, 11:36 PM 145shahzad <notifications@github.com wrote:

[2019-06-11 10:40] harshithdayananda commented on #92
@gamer2199 @tkajbaje need your help. my car was working before with optocouplers but now it stopped working and takes continuous input i.e without input keeps going forward. what do I do?

[2019-06-12 00:19] annak1n opened #218 "collect_training_data Error"
My Step:
1) Run on PC: collect_training_data.py
2) Run on RPi: stream_client.py
Then i get this error.
Error Screen Shot:
http://prntscr.com/o0oc2e
I not have RC Controller. Can i use Keyboard on my PC for Control Car ?
How i can fix this error ?

[2019-06-12 02:10] #218 closed

[2019-06-12 02:34] annak1n opened #219 "Connect Motor PIN"
I Have a Questions..
I not find where i need to connect Motor Driver ?
On RPi or Arduino ?

[2019-06-12 07:22] harshithdayananda commented on #192
@hamuchiwa need help, after training and running rc_driver_nn_only the car is going forward and left only.

[2019-06-12 07:34] harshithdayananda opened #220 "Wrong Predictions"
After running rc_driver_nn_only.py the car only chooses to move forward and left. Please help me figure out the solution. Should i train more?

[2019-06-12 10:05] harshithdayananda commented on #218
@annak1n change your serial port to the one you have connected the arduino

[2019-06-12 12:35] annak1n commented on #219
Can u say what pin i need to use for servo?

[2019-06-13 13:29] hamuchiwa commented on #219
@annak1n Arduino is connected to the controller, see `rc_keyboard_control.ino` for actual pin numbers used in this project.

[2019-06-13 13:29] #219 closed

[2019-06-17 10:51] AnoRebel commented on #44
@hamuchiwa Sorry, but can you explain to me exactly how you used the rubber band to decrease the car speed, it seems like the only feasible method for me.. Please help..

[2019-06-17 19:55] hamuchiwa commented on #44
@AnoRebel Something you can try, wrap a rubber band around the axle or the wheel to make it harder to turn, or use a potentiometer.

[2019-06-17 20:04] AnoRebel commented on #44
Ok, thank you, also, i'm using a really bad webcam(was all i could find), so i figured i should use the whole image during training, how do i go about it?? What do i change in the code?? Or do you have a better alternative??

[2019-06-17 20:07] AnoRebel commented on #44
Also, one more thing, do you have a sample code of streaming using a webcam, i cant seem to find good code, using imagezmq fails when converting the images with numpy(i believe), so i'm using UDP, but on changing the rc_drive.py to use the UDP request handler, the program just closes itself with no error.. Any ideas or suggestions??

[2019-06-17 20:56] hamuchiwa commented on #44
@AnoRebel If you'd like to use the whole image, remove slicing and save the whole images as your training data, also make sure the dimensions match in training. I don't have the code of using a webcam. Take a look at #103, see if it helps.

[2019-06-17 20:57] AnoRebel commented on #44
Sorry, but where and how exactly do i remove the slicing??

[2019-06-23 10:00] Sirajabudabe commented on #220
I have the same problem !!!

[2019-06-24 06:36] arpitpartani commented on #77
still getting an error of cannot assingn requested address while running test_stream_server in computer linux

[2019-06-26 07:59] arpitpartani commented on #184
while running collect_training_data.py my car is not moving with computer arrow buttons , hence not collecting frames

[2019-06-26 08:20] arpitpartani commented on #184
pls help @ShwetaLalwani @VishalWrench

[2019-06-26 08:37] ShwetaLalwani commented on #184
@arpitpartani first you have to run collect_training_data.py and then in other terminal run stream_client.py ,then a pygame window along with a streaming window will pop up. Click on pygame window and then click the arrow keys to move your car. When your data collection is done press x or q to exit from pygame window and then press q to exit from streaming window , your saved frames and lost frame

[2019-06-26 08:42] arpitpartani commented on #184
exactly we are doing @ShwetaLalwani
but its not working

can u share your collect_training_data.py code

[2019-06-26 08:47] ShwetaLalwani commented on #184
@arpitpartani actually I've done my whole project on raspberry pi, I haven't used Arduino. So my code is a bit different than this, but the procedure is same . I've only changed the pins according to my dc motor pins and removed the Arduino part. Rest is same as collect_training_data.py. Tell me what error are u getting?

[2019-06-26 08:58] arpitpartani commented on #184
Atleast send the code

On Wed 26 Jun, 2019, 2:18 PM ShwetaLalwani, <notifications@github.com>
wrote:

[2019-06-26 19:07] hamuchiwa commented on #220
@harshithdayananda @Sirajabudabe The model needs to be well trained, see #187 if it helps.

[2019-06-26 19:07] #220 closed

[2019-08-30 17:02] BonthuAI commented on #164
Hi All
can you please let me know
1. whether you disconnected the batteries of remote?, I have RC remote with 12V battery - so need some clarification
2. has anyone done this similar one using raspberry PI ?

[2019-09-03 12:00] arunph commented on #164
no,don't remove the battery of remote

[2019-09-03 12:27] BonthuAI commented on #164
Thanks Arun,

however, The images posted by code Skull doesn't have batteries connected to RC circuit board
Am I missing anything ?

(Typo in my earlier post, read it is 9V instead of 12V)

Also I am looking for some inputs for the same task for Raspberry instead of Arduino

Regards
Srinivas B

[2019-09-05 10:19] Sirajabudabe commented on #187
@MyFirstRoboticProject  can you please contact me on my e-mail : serajabudaber@gmail.com

[2019-09-05 10:21] Sirajabudabe commented on #173
Dear @SaiSurya9999  could you please contact me on e-mail : serajabudaber@gmail.com

[2019-09-05 10:24] Sirajabudabe commented on #77
@Gooose1909  could you please contact me on my e-mail : serajabudaber@gmail.com

[2019-09-05 10:43] BonthuAI commented on #164
thanks to the participants of this thread
with the help of this thread, we successfully completed the similar task using Raspberry pi 4

[2019-09-16 13:48] lizhongdjjy opened #224 "运行collect_training_data.py问题"
你好，运行采集数据程序时，报错：
QObject::moveToThread: Current thread (0x1cd6540) is not the object's thread (0x1e47bc0).
Cannot move to target thread (0x1cd6540)

Fatal Python error: PyEval_SaveThread: NULL tstate
已放弃 (核心已转储)

python2.7 和python3 都有这个错误

[2019-09-16 20:32] hamuchiwa commented on #224
@lizhongdjjy 之前没遇到过这个问题，我大概搜了一下，有说是关于OpenCV或者是pyqt的问题。你用的是Ubuntu还是mac，找个时间我也试一下看能不能重复一样的错误。

[2019-09-20 19:31] hamuchiwa commented on #224
@lizhongdjjy 我试了一下，在Ubuntu的虚拟机重新构建的conda环境，默认下载的python版本是3.7.4，OpenCV是4.1.1，运行正常没报错呀。

[2019-09-23 11:10] zodiacrx opened #225 "Trouble with collect_training_data.py and stream_client.py"
Greetings, Sir
i use my school wi-fi (host, raspberrypi) and i have error message when doing collect_training_data and stream_client , collet_training_data is work well but when i run stream_client.py and i got error message
File "stream_client.py", line 11, in <module>

    client_socket.connect(('172.29.127.44', 4000))

  File "/usr/lib/python2.7/socket.py", line 228, in meth

    return getattr

[2019-09-23 19:27] hamuchiwa commented on #225
@zodiacrx The error says "Connection refused", if the ip and port number match the ones on the server side, try a different port then.

[2019-09-23 19:27] #225 closed

[2019-09-23 19:27] #224 closed

[2019-09-24 15:37] zodiacrx opened #226 "Can I do this without remotecontroller?"
@hamuchiwa
Hi, Sir I really like this project and I make my own RC car
with 2 DC Motor and L298N motordriver all .py code works well
but, i have one thing in mind i don't have any remote controller so i only use keyboard to RC_keyboard_control, collect_training_data training with youtube driving video
but, problem is rc_driver.py i don't have remotecontroller so my arduino(connect with DC motor an

[2019-09-25 21:50] hamuchiwa commented on #226
@zodiacrx Quick answer is yes. This is an old project, personally I haven't tried not using remote controller, but I believe there are people who have successfully done similar projects using raspberry pi only. You can have a look at these two: #16 and #199. First one is the discussion of how to work with pi only, second contains a few urls of very inspiring projects.
Hope this helps. Good luck~!

[2019-09-25 21:50] #226 closed

[2019-09-29 11:16] Sirajabudabe opened #227 "Neural network weird behavior!!!"
in training even when i don't use reverse button .... i get some predictions of reverse
training accuracy is to low !! how to reduce NN output to be just (Forward-right-left)???and what is the best attributes for good accuracy ?
any ideas ? @hamuchiwa

[2019-10-01 18:52] hamuchiwa commented on #227
@Sirajabudabe Please see #173 and #187 for help, certainly reverse can be removed (it's not used anyway), you need to modify the label array size wherever you see that in the code.

[2019-10-01 18:52] #227 closed

[2019-10-01 21:45] Andy823 opened #228 "关于采集的信息"
请问是否需要一个SD卡来储存收集到的training data?

[2019-10-02 09:37] Sirajabudabe commented on #227
@hamuchiwa  thanks .. i just want to ask about the training (collecting data ) should i do the "right-left , forward " in separate npz file  or i collect data over hole track (all directions at once )?
does it effect the training accuracy ?

[2019-10-03 10:46] #228 closed

[2019-10-03 12:05] liki555 commented on #60
@hamuchiwa I have an error like this
attributeerror: 'module' object has no attribute 'm1'
Can you please help me

[2019-10-03 13:23] Sirajabudabe opened #229 "collecting data"
@hamuchiwa i just want to ask about the training (collecting data ) should i do the "right-left , forward " in separate npz file or i collect data over hole track (all directions at once )?
does it effect the training accuracy ?

[2019-10-03 21:17] hamuchiwa commented on #229
@Sirajabudabe You can just drive along the track multiple times, there is no need to separate the directions. After each run, a npz file will be generated in the training_data folder. In training, all files in that folder will be loaded at once.

[2019-10-03 21:17] #229 closed

[2019-10-03 21:20] hamuchiwa commented on #228
@Andy823 不需要的，数据存在电脑上。

[2019-10-04 17:02] hamuchiwa commented on #60
@liki555 I would suggest checking your OpenCV installation or setting up a conda environment using `environment.yml`.

[2019-10-04 17:20] liki555 commented on #60
@hamuchiwa  sir i already installed everything but this error cannot able to debugg please help me....or share the modified program

![Screenshot (2)](https://user-images.githubusercontent.com/55014540/66226696-11b79580-e6f9-11e9-8505-b6f98863c5a7.png)

[2019-10-10 18:26] kartikJ-9 opened #230 "Anybody implemented in Windows without Remote control?"
Shall I run all my scripts in a virtual machine?

I get a pygame black screen prompt but when I type a character from keyboard, Arduino does receive it, but motor does not rotate accordingly. What might be the reason for this?

[2019-10-10 18:31] kartikJ-9 commented on #230
Also when I run rc_control.py, a black pygame screen appears. But, the Arduino prompt says that the COM7 is busy, and that is because python script is utilising COM7.

[2019-10-13 12:03] Sirajabudabe opened #231 "Remote control problem"
I changed the car for some technical problems , the push buttons in the new car are active high
not like what @hamuchiwa  used am having a lot of troubles trying to control the car mostly in hardware and arduino code !!!! did any one tried different arduino code ?
help please

[2019-10-15 02:17] SaiSurya9999 commented on #231
@Sirajbudabe use delay() function in audrino code to control speed of car..
My car YouTube link
https://youtu.be/TrXVGF6cBBU

[2019-10-17 09:14] Sirajabudabe commented on #231
@SaiSurya9999  how much delay you used ???
could you contact me on serajabudaber@gmail.com

[2019-10-17 10:31] SaiSurya9999 commented on #231
@Sirajabudabe  I have mailed you the audrino code i modified with delay functions check it out..!!!

[2019-10-18 20:56] hamuchiwa commented on #230
@kartikJ-9 If you can, run this project on Linux or Mac, Windows is not tested, but there are people managed to work with this project on Windows.
The small black pygame window is normal, it's for capturing keypress. Not sure if there is a better way for capturing keypress without opening a pygame window.
If Arduino does receive keyboard commands, maybe check the connection between Arduino and the

[2019-10-18 20:56] #230 closed

[2019-10-20 09:49] Sirajabudabe opened #232 "Ultrasonic problem"
i get this error after running ultrasonic_server
ValueError: could not convert string to float: b'4.546833038334.559099674226.910204887396.1905622482310.0504636765'
@hamuchiwa  any ideas why ???

[2019-10-21 09:02] Sirajabudabe opened #233 "car don't stop"
am having a problem with "rc_driver.py" when ultrasonic gives a stop signal or the stop sign put stop_flag true it don't wait until the obstacle is removed  !!!!
i also noticed that there is no wait function in the code after obstacle detection ?!!!!
@hamuchiwa  any ideas why???

[2019-10-23 03:37] SaiSurya9999 commented on #233
I have given you my drive programs through mail @Sirajabudabe  check it out.

[2019-10-25 21:00] #231 closed

[2019-10-25 21:01] #233 closed

[2019-10-29 13:03] ChesterChai commented on #120
我建议直接使用NODE MCU这个模块来操作，这个芯片大概20元，使用arduino IDE来开发，这样就不用准备arduino和esp8266了。

[2019-11-25 10:22] athenluffy opened #234 "Connection Refused"
the streaming server_test program for computer is not working. It is Showing connection refused
![server](https://user-images.githubusercontent.com/31587653/69532309-842b5000-0f9b-11ea-9e4b-72909675d7e5.png)

[2019-11-25 19:02] hamuchiwa commented on #234
@athenluffy Change the ip address in both client (`stream_client.py`) and server (`stream_server_test.py`) files to match your. See #144 if that helps.

[2019-11-30 16:34] kawseribn opened #235 "can anyone tell me the proper steps to follow to complete this project?"

[2019-12-02 21:00] #234 closed

[2019-12-19 14:52] abhijeet1813 opened #236 "Do their are any conditions for rc car or every type of rc car can be tansformed"

[2019-12-29 05:29] habib700 opened #237 "Plz share schematic diagram of arduino to raspberry pi"
Sir,
Inspired by this aiticle: Drive a Lamborghini With Your Keyboard link is not working, plz share a clear schematic of connections with Arduino and Raspberry.
Thanks.

[2019-12-30 21:25] hamuchiwa commented on #237
@habib700 Please see #164 and #124.

[2019-12-30 21:25] #237 closed

[2019-12-31 09:47] HarshRangwala opened #238 "Create a .npz file to train the car."
I need to get a single .npz file to train just like in ```collecting_training_data.py``` by hamichiwa.
Here's the code I have used to drive my car. Please take a look,
[code]
Now what this code does is that it snaps a pic every instance when the car moves or stays idle. The training data is in image form. But I need it in .npz file format. So if someone can please help me, I'd be very thankful. Th

[2019-12-31 09:48] HarshRangwala commented on #238
Here's my email harsh.r@harshrangwala.me, just in case anyone is willing to help me further.

[2019-12-31 11:21] HarshRangwala commented on #236
dude can you contact me? I am also working on same project. Maybe we can help each other. mail : harsh.hr305@gmail.com

[2020-01-02 17:10] abhijeet1813 commented on #237
hello sir !! I am also trying to build an autonomous car but the biggest
problem in front of me is hardware setup will you please help me with
respect to that. It will be really helpful. Thank You!!

On Tue, Dec 31, 2019 at 2:55 AM hamuchiwa <notifications@github.com> wrote:

[2020-01-02 17:43] Gooose1909 commented on #236
Any RC car would be fine
As long you can interface the controller to your pc

[2020-01-05 04:52] zbot473 commented on #169
I'm working on a version that does this.

[2020-01-11 21:05] HarshRangwala opened #239 "pygame"
pygame window always crashes after running a python script for collecting data!
please help!

Here's the code:
[code]

[2020-01-18 07:55] nandhukrishnan commented on #187
@MyFirstRoboticProject Can you please share your .npz file and nn_model.xml file? Thanks in advance. my email: [nandhukrishnan96@gmail.com](url)

[2020-01-18 08:15] nandhukrishnan opened #240 "Neural Network Training"
@hamuchiwa

1. What are the minimum system requirements for the training of this Neural Network?

2. How to implement the same project using Convolutional Neural Network? Can you please share
    the modified files `model.py` and `model_training.py`. Thanks in advance :)
    mail id: [nandhukrishnan96@gmail.com](url)

3. Please suggest a power bank with sufficient capacity and minimum weight to us

[2020-01-29 16:01] Yoganandhan01 commented on #217
For using windows pc i am also having the same error..

[2020-01-29 16:59] Yoganandhan01 commented on #237
please share the schematic for arduino to raspberry pi

[2020-01-29 17:05] Yoganandhan01 opened #241 "How to connect raspberry pi to Rc control unit"
how to connect the motor controller board with raspberry pi.  is there any schematic is available

[2020-01-31 07:06] maazmmd commented on #164
Hey @nandhukrishnan could you please tell me what is the black IC that is connected? as I was unable to co-relate that

[2020-02-06 07:17] arunph commented on #239
Can I know the configuration of your system which you are using to execute it.

[2020-02-06 14:59] arunph commented on #241
Actually you need to connect aurdino with controller not raspberry pi.
Thanks

[2020-02-07 13:29] Yoganandhan01 commented on #241
Thanks for your reply Arun

Yoganandhan A

On Thu, Feb 6, 2020 at 8:29 PM Arun Hachadad <notifications@github.com>
wrote:

[2020-02-07 15:40] hamuchiwa commented on #240
@nandhukrishnan Hi, the model is trained on computer, so your laptop is sufficient to train the model, certainly if your model is more complex and you have more data, it takes longer. There are no modified files, but please take a look at #173. As long as it not too heavy for your rc car, any usb power supply should work.

[2020-02-07 15:40] #240 closed

[2020-02-10 09:49] HarshRangwala commented on #239
System config is:
Windows 10
Anaconda, spyder to run this file
On my raspi I am using Thonny IDE to run camera_stream.py

[2020-02-10 13:29] 9salman7 opened #242 "Sending predictions to the Arduino"
Hi @hamuchiwa , you mentioned that the predictions are the sent to the Arduino for RC car control. How is this done? As far as I understand, the Arduino is only connected to the remote controller. How exactly is the data sent to the Arduino without connecting it to the RPi or the Computer?

Thanks for your help!

[2020-02-10 14:05] 9salman7 commented on #241
@arunph can you help with my question #242 as well please?

[2020-02-10 14:37] arunph commented on #242
No need to connect raspberry pi to Rc control unit. You can connect Rc control with Arduino. Since raspberry pi will  send the and receive pi camera and ultrasonic sensor data from and to the computer which in further sends Direction instructions to Ardunio to control the Car.

[2020-02-10 14:50] 9salman7 commented on #242
How exactly does the computer send instructions to the Arduino? @arunph

[2020-02-10 15:30] arunph commented on #242
kindly go through this link https://zhengludwig.wordpress.com/projects/self-driving-rc-car/

[2020-02-10 15:33] 9salman7 commented on #242
I did go through it, it mentions that the Arduino is connected to the computer via USB. I'm still unsure how the connection is done remotely.

[2020-02-10 15:37] arunph commented on #239
To get better results you need to use 8GB  RAM system which has atleast of 120GB SSD  and install programs like anaconda and spyder in SSD volume.

Thanks.

[2020-02-10 15:55] arunph commented on #242
As the per the project is concern,raspberry pi need to be powered up and then connect its wifi to router or mobile hotspot and then connect your computer wifi  to same network which you have used to connect raspberry pi.Both should lie in the same network.

[2020-02-10 19:00] HarshRangwala commented on #239
Oh I should've mentioned, my bad. I have 16 gigs ram, 250g gigs ssd 1 TB Hard disk. System config seems perfect just wondering if there's a bug or something in the code.

[2020-02-11 07:12] arunph commented on #239
As per my perspective there is no bug in code.it worked for me perfectly.

[2020-02-28 19:10] reddy9698 opened #244 "ValueError"
Hi, Hamuchiwa
I'm getting the following error while running the ultrasonic_client.py

ValueError: could not convert string to float: b'14.59320783615112314.568674564361572'.

I tried everything from previous issues and not getting an answer.

[2020-02-28 20:04] hamuchiwa commented on #244
@reddy9698 Try change line 52 in `ultrasonic_client.py` to `client_socket.send(str(distance).encode('utf-8'))`.  File has been updated in repository . See #132.

[2020-02-28 20:04] #244 closed

[2020-02-28 21:48] reddy9698 commented on #244
yeah i have done that but still iam getting the same error

[2020-03-02 16:46] salman-ind commented on #173
@rahulkvr did you manage to solve the issue?

[2020-03-03 02:43] rahulkvr commented on #173
No, I couldn't resolve it.

[2020-03-10 12:20] salman-ind opened #245 "Stop sign detection"
Hi @hamuchiwa , can you please explain why you have used the following logic for detecting the stop signs?

`# stop sign
if width / height == 1:
      cv2.putText(image, 'STOP', (x_pos, y_pos - 10), cv2.FONT_HERSHEY_SIMPLEX, 0.7, (0, 0, 255), 2)`

why does width/height == 1 mean that the object is a stop sign? For reference, those two variables are returned from the detectMultiScale function from

[2020-03-10 17:30] maazmmd commented on #245
Am also stuck here, How to stop the car using a stop sign

[2020-03-12 21:30] hamuchiwa commented on #245
@9salman7 The bounding box of stop sign in this project is a square, so if width == height, it's a stop sign.

[2020-03-13 13:49] salman-ind commented on #245
Thank you for the reply! I appreciate it

We have completed everything apart from the traffic signal detection (will finish that soon) thanks to your wonderful repository. Thank you so much, @hamuchiwa !

Have a look - https://drive.google.com/open?id=10Z7oCw4XpBe3b9kgd6YishomECpyB6iY

[2020-03-17 03:28] Yoganandhan01 commented on #144
Use your Pc Ip address on both raspberry pi and Pc...

[2020-03-17 06:48] Yoganandhan01 commented on #122
I am also having the same problem in windows os

[2020-03-17 07:04] Yoganandhan01 commented on #122
hamuchiwa, you are used GPIO.setmode(GPIO.BCM) in ultrasonic_client.py, in that I did not get any output.  Instead of I am using GPIO.setmode(GPIO.BOARD) i am getting output.
but i makes the broken pipe error

[2020-03-20 15:42] Yoganandhan01 commented on #245
Hi Salman. I have also followed those steps but my car only goes on the straight that does not follow the lane. How can i solve the problem..?

[2020-03-20 15:47] Yoganandhan01 commented on #245
@9salman7 can you help me.?

[2020-03-20 15:57] Yoganandhan01 commented on #184
@arpitpartani I am also having the same problem after running collect_training_data.py file and model_training.py after I'm running the rc_driver.py my car only goes on straight line it does not follow the lane..?

[2020-03-20 16:00] Yoganandhan01 commented on #184
@arpitpartani can you explain the file "train_predict_test.ipynb" the jupyter notebook file in model_train_test folder..?

[2020-03-21 07:55] #242 closed

[2020-03-21 07:57] salman-ind commented on #245
Hello @Yoganandhan01. Are you following the OpenCV neural network model? I did that too and my car was also moving along just one direction.
I'd suggest you to use a Keras neural network model. It works perfectly for me.

[2020-03-22 03:22] Yoganandhan01 commented on #245
How can I implement Keras neural network into it.? Can you tell me some
examples.?
Yoganandhan A

On Sat, Mar 21, 2020 at 1:27 PM Salman <notifications@github.com> wrote:

[2020-03-22 07:39] salman-ind commented on #245
You can refer to this Jupyter notebook:
https://github.com/9salman7/self-driving-car2/blob/master/kerasInfernus.ipynb

After training, you can load the model into your program to predict the directions

[2020-04-01 14:20] Yoganandhan01 commented on #245
Thanks Salman..

Yoganandhan A

On Sun, Mar 22, 2020 at 1:09 PM Salman <notifications@github.com> wrote:

[2020-04-22 13:39] Yoganandhan01 commented on #233
@SaiSurya9999 @Sirajabudabe
I'm having the same problem in "rc_driver.py".  My car also won't stop when the object was detected.?
Can You help me with this problem..!

[2020-05-17 00:25] denisrexhepi commented on #110
Anyone found a solution on this?

[2020-05-17 01:40] krukhlis commented on #110
Guys, switching camera from PI Camera to USB Camera has no relations to this specific project. There are tons of guides( including videos) how to do this and what has to be adjusted in your code to use USB Camera instead of CSI. In order to make changes all you need to do is to spend ~30 mins in Google and IDE.
P.S. From my experience -- you should be careful, because not all USB Web Cams support

[2020-05-17 01:48] krukhlis commented on #110
Just 1 min googling for you:
https://www.raspberrypi.org/documentation/usage/webcams/
any here it is with OpenCV code:
https://www.pyimagesearch.com/2016/01/18/multiple-cameras-with-the-raspberry-pi-and-opencv/

This is more than enough to add support for WebCam to this project.

[2020-05-17 22:40] denisrexhepi commented on #245
Did the Keras model work?

[2020-05-17 22:45] denisrexhepi commented on #57
Did you manage to do it?

[2020-06-09 20:41] Chinmay922 commented on #245
I want to work on the same model but on MATLAB is it possible?

[2020-07-03 07:38] moizmushtaq opened #247 "Why Every Pin is Low in arduino code"
Hi Sir. I found some difficulty while understanding the code of arduino. E.g When u receive forward command from python program. Then the forward pin should be HIGH. Why it is all LOW in functions. Doesn’t it that mean to off the pin. If it is LOW then how can car go forward...
 You answer will be appreciated sir

[2020-07-03 15:55] ShahirZain commented on #247
yes you are right forward pin should be high i think it is a silly mistake

[2020-07-12 13:44] Manou60xs opened #248 "How to connect arduino to Rc car control unit ?"
Please , can anyone help me to choose the good rc car which contains the electronic diagram.
and tell me how to connect arduino to Rc car control unit.

[2020-07-12 13:48] Manou60xs commented on #247
Hi bro , Please can you tell me which rc car you choosed
and tell how did you do to connect arduino to Rc car control unit.

[2020-07-21 12:52] #248 closed, assigned to nobody

[2020-07-21 13:13] Manou60xs opened #249 "rc_control_test.py problem !"
Hi every one.
I had run rc_keyboard_control (arduino script) with windows 7
i didn't understand the connection between the raspberry and the arduino because when i run rc_control_test.py
in the raspbian it show me this message :

pygame 1.9.4.post1
Hello from the pygame community. https://www.pygame.org/contribute.html
Traceback (most recent call last):
  File "/home/pi/Desktop/PFE/p/test/rc_contr

[2020-07-22 13:59] Manou60xs commented on #249
@hamuchiwa  pls help , i need it for the license project

[2020-07-22 16:50] ShahirZain commented on #249
why you use RC for this.. . you can use bluetooth module

On Wed, Jul 22, 2020 at 7:00 PM Manou60xs <notifications@github.com> wrote:

[2020-07-27 02:10] #249 closed, assigned to nobody

[2020-07-27 02:14] Manou60xs opened #250 "I've finished the project !"
Hi everybody ,
I've finished this great project.
if any one needs help just send me in viber : 0549 97 59 99.
Good luck.

[2020-07-27 06:50] ShahirZain commented on #250
congo

[2020-09-08 12:30] 3mralsaleh commented on #250
can you upload the trained Model please

[2020-10-06 01:54] nishchaym commented on #250
Can you please tell the steps for implementing the project

[2020-10-06 02:47] Navneetoo7 commented on #250
Who is this n why I want answer from me u even you can ask this question to
Google

On Tue 6 Oct, 2020, 7:24 AM nishchaym, <notifications@github.com> wrote:

[2020-11-01 17:49] theinfinitycorp opened #252 "Help on sending arduino commnds to Raspberry Pi instead of host PC"
Hey  guys,
This project is working flawless,however I am using a Arduino directly connected to the motor drivers instead of using a remote controller.
I'm able to run the car by connecting the  Arduino to pc and running the programs.
I need help on doing the same by connecting the Arduino to the pi instead and send the commands  from the pc to the Pi ,so that the pi can control the arduino instead

[2020-12-03 09:10] rudraksh255 opened #253 "1"

[2020-12-03 11:09] ShahirZain commented on #253
??

On Thu, Dec 3, 2020 at 2:10 PM rudraksh255 <notifications@github.com> wrote:

[2021-02-21 06:34] SaishaV opened #255 "rc_arduino.ino with raspberrry pi using serial"
When i do a keypress in the pygame window, it reflects on arduino uno by flashing a yellow light but the car does not move, any fixes?

PS - i have tried running the car with another code directly through arduino and the car moves

[2021-02-21 15:18] SaishaV commented on #252
Did you find a solution?

[2021-02-24 07:18] rudraksh255 commented on #144
yes bro
you are right bro I have also check its working

[2021-02-25 04:53] theinfinitycorp commented on #252
I did a workaround. I used my rpi as the host and used it to control the Arduino and run the programs.

[2021-03-15 05:40] Abhilash3836 opened #256 "circuit diagram"
hey can anyone share the connection diagram!

[2021-04-06 21:38] hamuchiwa commented on #256
See #164

[2021-04-06 21:38] #256 closed, assigned to nobody

[2021-04-06 21:39] #253 closed, assigned to nobody

[2021-04-06 21:39] #252 closed, assigned to nobody

[2021-04-06 21:40] #247 closed, assigned to nobody

[2021-04-06 21:40] #245 closed, assigned to nobody

[2021-04-06 21:41] #239 closed

[2021-04-06 21:44] #236 closed

[2021-04-06 21:46] #169 closed

[2021-04-06 21:46] #123 closed

[2021-04-06 21:48] #74 closed

[2021-04-06 21:51] #241 closed

[2022-01-24 16:48] M-S-10 commented on #255
There are a lot of factors, one of them being pin connections

[2022-07-20 06:36] tinyice123 commented on #187
![image](https://user-images.githubusercontent.com/106583855/179913124-d60db3a5-786a-43f8-821e-a548bc6d70bf.png)

[2022-07-20 06:36] tinyice123 commented on #187
![image](https://user-images.githubusercontent.com/106583855/179913461-5aab27f4-6534-4c6d-907d-155b0a61e314.png)

[2022-08-07 10:22] maxvelin commented on #238
Thanks for sharing this with us. I unfortunately don't have my own car and don't know much about them. So have always turned to company in Calgary here to move somewhere or take advantage of a ride. I liked that this company does not charge extra for travel time, fuel or transportation if you are in the city limits. Not everyone offers this kind of service unfortunately.